.billing__form 
.billing__group input{
    border: 1px solid var(--card-bg-02);
}

.checkout__cart{
    padding: 20px;
    background: var(--primary-color);
    color: #fff;
    border-radius: 5px;
}

.checkout__cart h6, h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkout__cart h6{
    margin-bottom: 20px;
}
.checkout__cart h4{
    border-top: 1px solid rgb(221, 221, 221,0.253);
    padding-top: 20px;
}
.order__btn{
    background-color: #fff !important;
    color: var(--primary-color) !important;
    width: 100%;
    border-radius: 10px;
    height: 2.5rem;
    font-size: 1.5rem;
}
.input_discount{
    border: none;
    color: white;
    background-color: #0a1d37;
    font-size: 1.2rem;
    text-align: right;
}
.div_discount{
    display: inline-block;
}