.footer{
    padding-top: 60px;
    padding-bottom: 30px;
    background-color:var(--primary-color);
}
.footer__text{
    line-height: 30px;
    color: rgb(199, 228, 198);
}
.footer__quick-links ul li {
    background: transparent !important;
}
.footer__quick-links ul li a{
    color: rgb(199, 228, 198);
}
.quick__links-title{
    margin-bottom: 20px;
    color: #fff;
    font-size:1.1rem ;
}
.footer__contact li span,
.footer__contact li p{
    color: rgb(199, 228, 198);
}
.footer__contact li span{
    font-size: 1.2rem;
}
.footer__contact li p{
    font-size: .9rem;
}